<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>simizu-lab Slack</title>
    <link rel="stylesheet" href="/static/css/all.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <div class="container">
      <!-- Header and navigation -->
      <header class="header">
        <nav class="nav">
          <div class="icons">
            <a href="#"><i class="fas fa-arrow-left"></i></a>
            <a href="#"><i class="fas fa-arrow-right"></i></a>
          </div>
          <form action="." class="search-bar">
            <i class="fas fa-search"></i>
            <input
              type="search"
              name="search"
              id="search"
              placeholder="Search Slack"
              class="search-bar-input"
            />
          </form>

          <div class="move-left">
            <a href="#"><i class="far fa-question-circle"></i></a>
          </div>
        </nav>
      </header>
      <!-- End of header and navigation -->
      <main class="main">
        <section class="sidebar">
          <article class="sidebar-1">
            <div class="box-1"></div>
            <div class="box-2"></div>
            <div class="box-3">+</div>
          </article>

          <article class="sidebar-2">
            <section class="channels">
              <h4 class="channels-header">
                <i class="fas fa-sort-down"></i> Channels
              </h4>
              <ul>
              <div id="channels"></div>
              <script>
                $.getJSON("/get_channels", function (data) {
                  data.forEach(function (item) {
                    $("#channels").append(
                      '<li><a href="/msg?channel='+item+'"><i class="fas fa-hashtag"></i>' +
                        item +
                        "</a></li>"
                    );
                  });
                });
              </script>
              </ul>
            </section>
          </article>
        </section>

        <section class="body">
          <section class="content">
            <section class="content-header">
              <article class="channel-content-header-details">
                <h4 class="channel-content-header-name">
                  {{ channel_name }}
                </h4>
              </article>
              <button
                class="btn-borderless btn-slack info"
                id="info"
                type="button"
              >
                <i class="fas fa-info-circle"></i>
              </button>
            </section>
            <article class="feeds">
              {% for message in messages %}
                <section class="feed">
                  <section class="feeds-user-avatar">
                    <img src="/static/images/{{ message.user_id }}.png" alt="user-avatar" width="40" />
                  </section>
                  <section class="feed-content">
                    <section class="feed-user-info">
                      <h4>{{ message.user_name }}
                        <span class="time-stamp">{{ message.time }}</span>
                      </h4>
                    </section>
                    <div>
                      <p class="feed-text">
                        {{ message.message | safe }}
                      </p>
                    </div>
                  </section>
                </section>
              {% endfor %}
            </article>
          </section>
        </section>
      </main>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
