<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Slack Redesign</title>
    <link rel="stylesheet" href="/static/css/all.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <div class="container">
      <!-- Header and navigation -->
      <header class="header">
        <nav class="nav">
          <div class="icons">
            <a href="#"><i class="fas fa-arrow-left"></i></a>
            <a href="#"><i class="fas fa-arrow-right"></i></a>
          </div>
          <form action="." class="search-bar">
            <i class="fas fa-search"></i>
            <input
              type="search"
              name="search"
              id="search"
              placeholder="Search Slack"
              class="search-bar-input"
            />
          </form>

          <div class="move-left">
            <a href="#"><i class="far fa-question-circle"></i></a>
          </div>
        </nav>
      </header>
      <!-- End of header and navigation -->
      <main class="main">
        <section class="sidebar">
          <article class="sidebar-1">
            <div class="box-1"></div>
            <div class="box-2"></div>
            <div class="box-3">+</div>
          </article>

          <article class="sidebar-2">
            <section class="channels">
              <h4 class="channels-header">
                <i class="fas fa-sort-down"></i> Channels
              </h4>
              <ul>
              <div id="channels"></div>
              <script>
                $.getJSON("/get_channels", function (data) {
                  data.forEach(function (item) {
                    $("#channels").append(
                      '<li><a href="#'+item+'"><i class="fas fa-hashtag"></i>' +
                        item +
                        "</a></li>"
                    );
                  });
                });
              </script>
              </ul>
            </section>
          </article>
        </section>
        <section class="body">
          <section class="content">
            <section class="content-header">
              <article class="channel-content-header-details">
                <h4 class="channel-content-header-name">
                  #social-media <i class="fas fa-star"></i>
                </h4>
                <section class="content-header-icons">
                  <div>
                    <i class="far fa-user"></i
                    ><span class="content-header-counter">23</span>
                  </div>
                  <div>
                    <i class="fas fa-thumbtack fa-rotate-315 last"></i
                    ><span class="content-header-counter">23</span>
                  </div>
                  <p class="content-header-text">
                    Track and cordinate social media.
                  </p>
                </section>
              </article>
              <button
                class="btn-borderless btn-slack info"
                id="info"
                type="button"
              >
                <i class="fas fa-info-circle"></i>
              </button>
            </section>
            <section class="feeds">
              <article class="feed">
                <section class="feed-content">
                  <section class="feed-user-info">
                    <h4>Zeo Maxwell <span class="time-stamp">9:56am</span></h4>
                  </section>
                  <div>
                    <p class="feed-text">
                      No! It was my pleasure! Great to see the enthusiasm out
                      there.
                    </p>
                  </div>
                </section>
              </article>
              <article class="feed">
                <section class="feed-content">
                  <section class="feed-user-info">
                    <h4>
                      Acme Team <span class="tag">app</span>
                      <span class="time-stamp">12:45pm</span>
                    </h4>
                  </section>

                  <p class="feed-text">Events starting in 15 minutes:</p>
                  <div class="quoted">
                    <h5>Team status meeting</h5>
                    <p class="quoted-text">Today from 1:00PM to 1:30PM</p>
                  </div>
                </section>
              </article>
              <article class="feed">
                <section class="feed-content">
                  <section class="feed-user-info">
                    <h4>Hary Boone <span class="time-stamp">12:58pm</span></h4>
                  </section>
                  <div>
                    <p class="feed-text">
                      Quick note: today <span class="mention">@lisa</span> will
                      join our team sync to provide updates on the launch, if
                      you have questions, bring 'em. See you all later...er, in
                      2 minutes.
                    </p>
                  </div>
                </section>
              </article>
              <article class="feed">
                <section class="feed-content">
                  <section class="feed-user-info">
                    <h4>Lee Hao <span class="time-stamp">1:48pm</span></h4>
                  </section>
                  <p class="feed-text">
                    Meeting notes from our sync with<span class="mention"
                      >@lisa</span
                    >.
                  </p>
                  <div class="quoted-file">
                    <div class="preparatory-text">
                      <p>Post</p>
                      <i class="fas fa-sort-down"></i>
                    </div>
                    <div class="file-figure">
                      <i class="far fa-file-alt fa-2x"></i>
                      <div class="file-detail">
                        <h5>1/9 Meeting Notes</h5>
                        <small>Last edited just now</small>
                      </div>
                    </div>
                  </div>
                </section>
              </article>
            </section>
          </section>
        </section>
      </main>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
